<div class="article">
  <h1>Learn More</h1>
  <div class="image">
    <dotlottie-player
      src="https://lottie.host/6720c90b-84d5-4ec0-a401-d7d8b566b98f/vFwjAwruUb.lottie"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px"
      loop
      autoplay
    ></dotlottie-player>
  </div>
  <h1>
    Read articles about some common skin diseases that are usually found in
    people.
  </h1>
  <div class="box">
    <div class="info">
      <h2>Actinic keratosis</h2>
      <br />
      <p>
        Actinic keratoses (also called solar keratoses) are dry scaly patches of
        skin that have been damaged by the sun. The patches are not usually
        serious. But there's a small chance they could become skin cancer, so
        it's important to avoid further damage to your skin. Treatments for
        actinic keratoses include:
      </p>
      <br />
      <ul>
        <li>prescription creams and gels</li>
        <li>
          freezing the patches (cryotherapy), this makes the patches turn into
          blisters and fall off after a few weeks
        </li>
        <li>
          surgery to cut out or scrape away the patches - you will be given a
          local anaesthetic first, so it does not hurt
        </li>
        <li>
          photodynamic therapy (PDT), where special cream is applied to the
          patches and a light is shone onto them to kill abnormal skin cells
        </li>
      </ul>
    </div>
    <img src="/assets/disease/Actinic_Keratosis.jpg" alt="" />
  </div>

  <div class="box">
    <img src="/assets/disease/basal-cell-carcinoma.jpg" alt="" />
    <div class="info">
      <h2>Basal cell carcinoma</h2>
      <br />
      <p>
        Basal cell carcinoma is a type of skin cancer. Basal cell carcinoma
        begins in the basal cells — a type of cell within the skin that produces
        new skin cells as old ones die off. Basal cell carcinoma often appears
        as a slightly transparent bump on the skin, though it can take other
        forms. Basal cell carcinoma occurs most often on areas of the skin that
        are exposed to the sun, such as your head and neck. Most basal cell
        carcinomas are thought to be caused by long-term exposure to ultraviolet
        (UV) radiation from sunlight. Avoiding the sun and using sunscreen may
        help protect against basal cell carcinoma. Basal cell carcinoma appears
        as a change in the skin, such as a growth or a sore that won't heal.
        These changes in the skin (lesions) usually have one of the following
        characteristics:
      </p>
      <br />
      <ul>
        <li>
          A shiny, skin-colored bump that's translucent, meaning you can see a
          bit through the surface. The bump can look pearly white or pink on
          white skin. On brown and Black skin, the bump often looks brown or
          glossy black. Tiny blood vessels might be visible, though they may be
          difficult to see on brown and Black skin. The bump may bleed and scab
          over.
        </li>
        <li>
          A brown, black or blue lesion — or a lesion with dark spots — with a
          slightly raised, translucent border.
        </li>
        <li>
          A flat, scaly patch with a raised edge. Over time, these patches can
          grow quite large.
        </li>
        <li>
          A white, waxy, scar-like lesion without a clearly defined border. To
          reduce your risk of basal cell carcinoma you can:
        </li>
        <li>Avoid the sun during the middle of the day</li>
        <li>Wear sunscreen year-round</li>
        <li>Wear protective clothing</li>
        <li>Avoid tanning beds</li>
        <li>Check your skin regularly and report changes to your doctor</li>
      </ul>
    </div>
  </div>

  <div class="box">
    <div class="info">
      <h2>Dermatofibroma</h2>
      <br />
      <p>
        Dermatofibromas are harmless growths within the skin that usually have a small diameter. They can vary in color but are typically pink to light brown in light skin and dark brown or black in dark skin. They may appear more pink or darker if a person accidentally irritates them — for example, when shaving. As they are dense and firm to the touch, many people say that they feel like a small stone underneath or raised above the skin. Most dermatofibromas are painless, but some people experience itching, irritation, or tenderness at the site of the growth. Some doctors or medical researchers may referTrusted Source to dermatofibromas as benign fibrous histiocytomas. Key markers of a dermatofibroma are:
      </p>
      <br />
      <ul>
        <li>Appearance: A dermatofibroma presents as a round bump that is mostly under the skin.</li>
        <li>
          Size: The normal range is about 0.5-1.5 centimeters (cm), with most lesions being 0.7-1.0 cm in diameter. The size will usually remain stable.
        </li>
        <li>
          Color: The growths vary in color among individuals but will generally be pink, red, gray, brown, or black.
        </li>
        <li>
          Location: Dermatofibromas are most common on the legs, but they sometimes appear on the arms, trunk, and, less commonly, elsewhere on the body.
        </li>
        <li>Additional symptoms: Although they are usually harmless and painless, these growths may occasionally be itchy, tender, painful, or inflamed.</li>
      </ul>
    </div>
    <img src="/assets/disease/Dermatofibroma.jpg" alt="" />
  </div>

  <div class="box">
    <img src="/assets/disease/Melanoma.jpg" alt="" />
    <div class="info">
      <h2>Melanoma</h2>
      <br />
      <p>
        Melanoma, the most serious type of skin cancer, develops in the cells (melanocytes) that produce melanin — the pigment that gives your skin its color. Melanoma can also form in your eyes and, rarely, inside your body, such as in your nose or throat. The exact cause of all melanomas isn't clear, but exposure to ultraviolet (UV) radiation from sunlight or tanning lamps and beds increases your risk of developing melanoma. Limiting your exposure to UV radiation can help reduce your risk of melanoma. The risk of melanoma seems to be increasing in people under 40, especially women. Knowing the warning signs of skin cancer can help ensure that cancerous changes are detected and treated before the cancer has spread. Melanoma can be treated successfully if it is detected early. The first melanoma signs and symptoms often are:
      </p>
      <br />
      <ul>
        <li>
          A change in an existing mole
        </li>
        <li>
          The development of a new pigmented or unusual-looking growth on your skin
        </li>
        <p>
          Melanoma doesn't always begin as a mole. It can also occur on otherwise normal-appearing skin. Hidden melanomas include:
        </p>
        <li>
          Melanoma under a nail
        </li>
        <li>Melanoma in the mouth, digestive tract, urinary tract or vagina</li>
        <li>Melanoma in the eye</li>
        <p>Make an appointment with your doctor if you notice any skin changes that seem unusual.</p>
      </ul>
    </div>
  </div>


</div>
