<!-- <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script> -->

<div class="container">
  <div class="welcome">
    <h1>Welcome To Our Skin Cancer Detection Web-App</h1>
    <dotlottie-player
      id="welcome-img"
      src="https://lottie.host/3dedc5fb-f0a0-4201-a72c-56f8a422b69c/4Q0rqf8D3u.lottie"
      background="transparent"
      speed="1"
      loop
      autoplay
    ></dotlottie-player>
  </div>
  <div class="health-screening">
    <div class="info">
      <p>
        Skin cancer, particularly melanoma, poses significant health risks when
        not identified promptly. Early detection is crucial as melanoma alone
        contributes to a substantial portion of skin cancer-related fatalities.
        Our AI-powered solution assists medical professionals by analyzing skin
        images, potentially streamlining the diagnostic process and reducing
        manual screening efforts.
      </p>
      <br />
      <p>
        The system is trained to identify various skin conditions including:
      </p>
      <br />
      <ul>
        <li>Actinic keratosis (solar keratosis)</li>
        <li>Basal cell carcinoma (BCC)</li>
        <li>Dermatofibroma (benign fibrous histiocytoma)</li>
        <li>Malignant melanoma</li>
        <li>Melanocytic nevus (mole)</li>
        <li>Pigmented actinic keratosis</li>
        <li>Seborrheic keratosis (senile wart)</li>
        <li>Squamous cell carcinoma (SCC)</li>
        <li>Vascular skin lesions</li>
      </ul>
    </div>
    <div class="image">
      <dotlottie-player
        id="health"
        src="https://lottie.host/673acb3f-03d5-4455-9b6e-0138c7b6d020/48Kax6wRb4.lottie"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></dotlottie-player>
    </div>
  </div>
  <div class="work">
    <div class="info">
      <h1>How it works?</h1>
      <br />
      <p>
        Using Model we have trained, our system uses it and analyzes skin images
        to identify potential abnormalities.This is not a accurate result but
        will give you a slight idea.
      </p>
    </div>
    <div class="image">
      <dotlottie-player
        id="healthcare"
        src="https://lottie.host/1e6191a5-e7db-4462-a5a9-f6b0dda50303/5DJqrVyCMi.lottie"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
      ></dotlottie-player>
    </div>
  </div>
</div>
