<div class="auth-wrapper">
  <div class="auth-left">
    <h1>Skin Scan AI</h1>
    <div class="info">
      <div>
        <p>Your AI-powered tool to detect skin cancer early and accurately.</p>
      <ul>
        <li>✔ Upload dermatoscopic images securely</li>
        <li>✔ Get instant predictions with confidence score</li>
        <li>✔ Learn about early skin cancer signs</li>
      </ul>
      </div>

      <dotlottie-player
        class="img"
        src="https://lottie.host/1e6191a5-e7db-4462-a5a9-f6b0dda50303/5DJqrVyCMi.lottie"
        background="transparent"
        speed="1"
        
        loop
        autoplay
      ></dotlottie-player>
    </div>
  </div>

  <div class="auth-right">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
