<div class="container">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <h2>Login to Your Account</h2>

    <label for="email">Email:</label>
    <input
      [(ngModel)]="email"
      name="email"
      #emailRef="ngModel"
      type="email"
      class="input"
      placeholder="Email"
      required
    />
    <span
      class="error"
      *ngIf="emailRef.invalid && (emailRef.touched || emailRef.dirty)"
    >
      <span *ngIf="emailRef.errors?.['required']">Email is required.</span>
      <span *ngIf="emailRef.errors?.['email']">Enter a valid email.</span>
    </span><br>

    <label for="password">Password:</label>
    <input
      [(ngModel)]="password"
      name="password"
      #passRef="ngModel"
      type="password"
      class="input"
      placeholder="Password"
      minlength="6"
      required
    />
    <span
      class="error"
      *ngIf="passRef.invalid && (passRef.touched || passRef.dirty)"
    >
      <span *ngIf="passRef.errors?.['required']">Password is required.</span>
      <span *ngIf="passRef.errors?.['minlength']">
        Min 6 characters required.
      </span>
    </span>

    <button type="submit" class="btn w-full" [disabled]="!loginForm.valid">
      Login
    </button>

    <p *ngIf="error" class="error center">Invalid Credentials or Password</p>
    <p class="switch-link">
      Don't have an account?
      <a routerLink="/signup">Sign up here</a>
    </p>


    
  </form>
</div>
